*{margin: 0;
padding: 0;}

body{font: 12px "Bauhaus 93";
	color: #000;
	background-color: #ddd;
background-image:url(imagens/Camuflado.png);}
#linha{border: 2px solid #666;}

#principal{margin: 0 auto;
	width: 1000px;
	height: auto;
	background-color: #fff;
border-left: 1px solid #bbb;
border-right: 1px solid #bbb;}
#topo{height: 176px;
}
#logo{width: 380px; float: left; }

#logo img{padding:30px 50px;}

#menu{padding-top: 50px;width: 1000px; font-size: 20px;
color: #666;
text-transform: uppercase;}
#menu ul{text-align: center; list-style: none;}

#menu ul li{display: inline;}
#menu ul li a{padding: 14px 16px; text-decoration: none; color: #666; }

#menu ul li a:hover{background-color: beige; color:#656852;}
#slide{position: relative;margin: auto;}
#slide img{vertical-align: middle;}

#slide .mySlides{display: none;
}
#slide .text{position: absolute;
	width: 1000px;
	color: red;
	font-size: 18px;
	text-align: center;
	padding: 8px 12px;
	bottom: 10px;
	}
#slide .fade{animation-name:fade;animation-duration:1.5s }
@keyframes fade{
	from {opacity: 0.4;}
	to {opacity: 1;}
}

#slide .next, #slide .prev{cursor: pointer;
	position: absolute;
	top:50%;
	font-size: 24px;
	font-weight: bold;
	margin-top: -22px;
	padding: 16px;
	color:red;width: auto; border-radius: 0 3px 3px 0;
user-select: none;}
#slide .next{
	right: 0;
	border-radius: 0 3px 3px 0;
}
#slide .next:hover, #slide .prev:hover{background-color: rgba(0,0,0,0.6);
}
.dot{width: 15px; height: 15px; margin: 2px; background-color: #bbb; display: inline-block; cursor: pointer;
	
border-radius: 50%; transition: background-color 0.6 ease;}
.dot:hover{background-color: #717171;
	
}
#conteudo{width: auto; height: 600px;padding: 40px 40px;	
}
#conteudo .info{width: 180px;height: 260px; border: 1px solid #ccc;float: left;
border-radius: 10px;padding: 10px;margin: 10px;}
#conteudo .info:hover{border: 1px solid #666;}
#conteudo img{width: 175px; height: 175px;border-radius: 50%;}
#conteudo h3{font-size: 18px; text-align: center; color: #656852;}
#conteudo p{padding: 10px 5px 15px 5px;}
#conteudo a{text-decoration: none; background-color: beige;color:#656852;
padding: 3px 5px 5px 3px;
border-radius: 15%;}
#conteudo a:hover{color:#888;}

#contato{width: 750px; margin: 0 auto;}
#contato h3{}
#contato label{}
#contato fieldset{background-color:#E1E1E1 ;  border: 1px solid #bbb;
border-radius: 8px;padding: 20px; margin: 0 0 10px 0;}
#contato fieldset legend{color: #666;background: #e1e1e1; border: 1px solid #ccc; border-bottom: none;border-radius: 5px 5px 0 0; padding: 0 8px 3px 8px;}
#contato input{}
#contato textarea{}
#contato.required{}
#rodape{padding-top: 100px;
background-color: #666;
text-align: center; }
#rodape p{background-color: #000;
color: white;
padding: 7px;
letter-spacing: 1px;}
